<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- : INFO au lieu de TRACE -->
    <logger name="io.micronaut.http.client" level="INFO" />

    <!--  requêtes HTTP sans le contenu binaire -->
    <logger name="io.micronaut.http.client.netty" level="DEBUG" />
</configuration>